.Comment {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-style: italic;
  color: #222222;
}

.Comment div,
.Comment div p {
  font-size: 14px;
  font-style: italic;
  color: #222222;
  padding: 0;
  margin-bottom: 10px;
}

.Comment a {
  font-size: 14px;
  font-style: italic;
  color: #fb651e;
}
